.App-header {
  min-height: 100vh;
  color: white;
}

.header, .footer {
  background-color: #df7722;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.header {
  margin-bottom: 50px;
  font-size: 28px;
}

.footer {
  font-size: 14px;
  width: 100%;
  margin: auto;
}

.card {
  margin: 10px 0;
  height: 150px;
}

a, a:hover {
  color: #282c34;
  text-decoration: none;
}

video {
  width: 100%;
  height: 50vh;
}

img {
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

p {
  margin-bottom: 5px;
  font-size: 16px;
}